html {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
}

.cursor-pointer {
  cursor: pointer;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select-row {
  display: flex;
}

.select-dropdown {
  padding: 4px 6px;
  background-color: #3e4148;
  border: transparent;
  border-radius: 2px;
  color: #bfc0c2;
}

.button {
  padding: 10px;
  background-color: #3e4148;
  border: transparent;
  border-radius: 4px;
  color: #bfc0c2;
}

.color-picker {
  margin-left: 10px;
  padding: 17px;
  background-color: #3e4148;
  border: transparent;
  border-radius: 4px;
}
